<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.dao.UserMapper">

    <select id="getUserById" resultType="User" parameterType="long">
        SELECT * FROM USER WHERE id = #{id}
    </select>

    <select id="getUserByNamePass" resultType="User" parameterType="User">
        SELECT * from USER  WHERE username=#{username}
    </select>
    <select id="getUserByUsername" resultType="User" parameterType="string">
        SELECT * from USER  WHERE username=#{username}
    </select>
</mapper>